.Todo {
    width: 400px;
    display: flex;
    padding: 0 10px;
    border-radius: 10px;
}

.Todo:hover {
    background-color: rgb(236, 82, 55);
}

.Todo p {
    width: 100%;
    display: flex;
}

.icon {
    margin-left: auto;
}
