.TodoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: auto;
    background-color: rgb(236, 55, 79);
    border-radius: 2em;
    padding: 20px;
}

.TodoList-title {
    text-align: left;
    margin: 20px auto;
    align-self: flex-start;
    width: 450px;
    border-bottom: 1px solid white;
}

.TodoList-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    list-style: none;
}

